app/__pycache__
**/__pycache__/
app/saved_models
app/backup_db
app/llm_instructions.py
app/stocks.*
app/institute.*
app/etf.*
app/crypto.*
app/index.*
app/*.sh
app/.env*
app/ml_models/weights
app/ml_models/training_data
app/ml_models/__pycache__
app/json/*
app/logs/*
fastify/node_modules
pocketbase/*
helper.txt
env/*
app/ml_models/weights
app/utils/__pycache__