benzinga
urllib3==1.26.18
yfinance
datetime
pandas
ta
scipy
numpy
arch
fastquant
keras
scikit-learn
fastapi
uvicorn[standard]
xgboost
gunicorn
websocket_client
simplejson
redis
redis[hiredis]
asyncio
aiohttp
httpx
httpx[http2]
prophet
schedule
pocketbase
quantstats
ipython
python-dateutil
backtesting
ujson
faker
finnhub-python
intrinio_sdk
openai
slowapi
praw
fuzzywuzzy
python-Levenshtein
plotly==5.23.0
kaleido==0.2.1
atproto
rapidfuzz
discord
orjson
aiofiles
openai-agents
async-openai
boto3
selenium
webdriver_manager
finra_api_queries
fear_and_greed
