benzinga
urllib3==1.26.18
yfinance
datetime
pandas
ta
scipy
numpy
arch
fastquant
keras
scikit-learn
fastapi
uvicorn[standard]
xgboost
gunicorn
websocket_client
simplejson
redis
redis[hiredis]
asyncio
aiohttp
httpx
prophet
nbformat
nbconvert
nbclient
schedule==1.2.1
pocketbase
quantstats
ipython
python-dateutil
backtesting
ujson
faker
finnhub-python
intrinio_sdk
openai
slowapi
orjson